src/main/webapp/WEB-INF/web.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="web-app">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="resource-env-ref">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="resource-env-ref-name" type="xs:string" />
                            <xs:element name="resource-env-ref-type" type="xs:string" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="resource-ref">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="res-ref-name" type="xs:string" />
                            <xs:element name="res-type" type="xs:string" />
                            <xs:element name="res-auth" type="xs:string" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>